
.card {
  border-radius: 12px;
  overflow: hidden;
}

.card-header {
  font-size: 1.2rem;
  font-weight: 500;
}

.table td,
.table th {
  vertical-align: middle;
}

.table img {
  border-radius: 0.5rem;
}
